<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Favorited Dishes
  </div>

  <ul class="list-group list-group-flush">
    <% @venue.favorited_dishes.each do |dish| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/dishes/<%= dish.id %>">
          <%= dish %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
